@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    --body: #343d4b;
    --white: #fff;
    --black: #000;
    --gradient: linear-gradient( 135deg, #439598 10%, #31319b 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    color: var(--white);
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--body);
}
